.button {
	composes: focus-ring disabled from "@styles/shared.css";
	padding: 0.5em 1em;
	border: 1px solid var(--aui-color-border);
	border-radius: 0.25em;
	background: var(--aui-color-primary);
	color: var(--aui-color-background);
	font: inherit;
	cursor: pointer;
}

.button:hover {
	background: var(--aui-color-primary-hover);
}

.icon-button {
	padding: 0.5em;
	min-width: 2.75rem;
	min-height: 2.75rem;
	display: inline-grid;
	place-items: center;
}
