.fieldset {
	composes: fieldset-reset from "@styles/shared.css";
	grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
	gap: 0.5em;
}

.legend {
	composes: fieldset-legend from "@styles/shared.css";
}

.error {
	composes: field-error from "@styles/shared.css";
	grid-column: 1 / -1;
}
