.wrapper {
	position: relative;
}

.input {
	composes: text-input focus-ring disabled from "@styles/shared.css";
	width: 100%;
	padding-right: 2.5em;
}

.toggle {
	composes: focus-ring disabled from "@styles/shared.css";
	position: absolute;
	right: 0.5em;
	top: 50%;
	transform: translateY(-50%);
	display: grid;
	place-items: center;
	padding: 0.25em;
	border: none;
	background: none;
	color: var(--aui-color-text);
	cursor: pointer;
}
