.table {
	width: 100%;
	border-collapse: collapse;
}

.caption {
	text-align: left;
	padding: 0.5em 0;
	font-weight: bold;
}

.table th,
.table td {
	padding: 0.5em;
	text-align: left;
	border-bottom: 1px solid var(--aui-color-border);
}

.table th {
	font-weight: bold;
	color: var(--aui-color-text);
}

.table td {
	color: var(--aui-color-text);
}
